<%= content_for(:title, "New Message | Texter") %>

<h1>New Message</h1>

<%= render("layouts/errors", :object => @message) %>

<%= form_for @message do |f| %>
  <div id='field'>
    <%= f.label :to %>
    <% Contact.all.each do |contact| %>
      <%= check_box_tag "message[:phone][]", :phone %>
      <%= contact.name %><br />
    <% end %>
  </div>
  <div id='field'>
    <%= f.label :from %>
    <%= f.text_field :from %>
  </div>
  <div id='field'>
    <%= f.label :body %>
    <%= f.text_field :body %>
  </div>
  <%= f.submit %>
<% end %><br />
